@import url('./fonts/inter.css');

.page {
  font-family: "Inter", sans-serif;
  background-color: #2A2C2F;
  align-content: center;
  display: flex;
  justify-content: center;
  color: #fff;
}

.page__wrapper {
  max-width: 1280px;
  max-height: 7473px;
}

.logo {
  display: block;
  margin: 34px auto 90px;
  max-width: 270px;
  max-height: 70px;
}

@media screen and (max-width: 320px) {
  .logo {
    margin: 20px auto 50.15px;
    max-width: 200px;
    max-height: 51.85px;
  }
}

.lead {
  width: 76.875%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.lead__title {
  margin: 0 auto 32px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  max-width: 793px;
}

.lead__subtitle {
  margin: 0 auto 64px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 720px;
  max-height: 72px;
}

.lead__image {
  filter: grayscale(100%);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }

  .lead__title {
    width: calc(100% - 48px);
  }

  .lead__subtitle {
    width: calc(100% - 48px);
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: calc(100% - 32px);
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .lead__subtitle {
    width: calc(100% - 32px);
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

.intro {
  max-width: 785px;
  margin: 92px 0 0 148px;
}

.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0 0 40px;
}

.intro__quote {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 0 10px;
  max-width: 720px;
}

.intro__quote-author {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 0 32px;
  max-width: 720px;
  text-align: end;
}

.intro__text {
  font-size: 16px;
  line-height: 26.08px;
  font-weight: 400;
  margin: 0;
  max-width: 720px;
}

@media screen and (max-width: 7320px) {
  .intro {
    width: calc(100% - 48px);
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - 32px);
    margin-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__quote {
    line-height: 30px;
  }
}

.photo-grid {
  max-width: 1184px;
  margin: 118px auto 92px;
}

.photo-grid__container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  list-style: none;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 48px);
    margin: 90px auto 88px;
  }

  .photo-grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100% - 32px);
    margin-bottom: 62px;
  }

  .photo-grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 12px;
  }
}

.places__container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 80px;
}

.place {
  max-width: 984px;
  list-style: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 460px 48px;
  grid-gap: 48px 40px;
}


.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
}

.button {
  max-width: 248px;
  background-color: #0278FE;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 600;
  padding: 13px 20px;
  transition: background-color .25s ease-out;
  display: block;
  text-align: center;
}

.button:hover {
  background-color: #0063D2;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__website-url-heading {
  color: #aaa;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  margin: 0 0 8px;
}

.place__website-artist {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.place__text {
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 0 0 25px;
}

.place__text:last-of-type {
  margin: 0;
}