.cover {
    width: 92.5%;
    height: 740px;
    margin: 92px 3.75%;
    background-color: #2A2C2F;
    background-image: url(../images/background.jpg);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0 0 0 100vmax rgba(42,44,47,0.3);
    transition: box-shadow .25s ease-out;
  } 
  
  .cover:hover {
    box-shadow: inset 0 0 0 100vmax rgba(42,44,47,0.8);
  }
  
  
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0 auto 32px;
  }
  
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 768px) {
    .cover {
      width: 100%;
      margin: 92px 0 88px;
      max-height: 746px;
      background-size: cover;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover {
      max-height: 254px;
      margin: 64px 0;
    }
  
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      margin: 0 auto 16px;
    }
  
    .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
    }
  }