.footer {
    max-width: 165px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  
  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
  }
  
  @media screen and (max-width: 320px) {
    .footer__copyright {
      line-height: 14px;
    }
  }