.lead {
    max-width: 76.875%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .lead__title {
    margin: 0 auto 32px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    max-width: 793px;
  }
  
  .lead__subtitle {
    margin: 0 auto 64px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 720px;
    max-height: 72px;
  }
  
  .lead__image {
    filter: grayscale(100%);
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .lead {
      max-width: 100%;
    }
  
    .lead__title {
      width: 93.75%;
    }
  
    .lead__subtitle {
      width: 93.75%;
      margin-bottom: 36px;
    }
  }
  
  @media screen and (max-width: 490px) {
    .lead__title {
      width: calc(100% - 32px);
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 16px;
    }
  
    .lead__subtitle {
      width: calc(100% - 32px);
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 20px;
    }
  }