.button_location_cover {
  width: 137px;
  margin: 32px auto 0;
}

@media screen and (max-width: 650px) {
  .button_location_cover {
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .button_location_cover {
    margin: 16px auto 0;
    left: 0;
  }
}